extends layout

block content
  div.wrapper
    div.container
      p
        Ipsum is simply dummy text of the printing and typesetting industry.Ipsum has
        been the industry's standard dummy text ever since the<1500s>, when an unknown
        printer took a galley of type and scrambled it toa type specimen book. It has
        survived not only five centuries, but alsoleap into electronic typesetting,
        remaining essentially unchanged. Itpopularised in the 1960s with the release
        of Letraset sheets containingIpsum passages, and more recently with desktop
        publishing softwareAldus PageMaker including versions of Lorem Ipsum.
