extends layout

block content
  div.container
    p.lead Explore
      div.navbar
        div.navbar-inner
          ul.nav
            li.active
              a(href='#') Explore
            li
              a(href='#') Other
    - for (var id in contests) {
      ul.contest
        li.title
          | Title #{contests[id].title}
        li.description
          | Description #{contests[id].description}
    - }
