extends layout

block content
  div.container
    p.lead Explore
      div.navbar
        div.navbar-inner
          ul.nav
            li.active
              a(href='#') Explore
            li
              a(href='#') Other
