extends layout

block content
  div.hero-unit
    div.container
      h1 Early Bird Contest
      p
        This is a simple hero unit, a simple jumbotron-style component for calling
        extra attention to featured content or information.
      p
        a.btn.btn-primary.btn-large(href='/about') Learn More
  div.wrapper
    div.container
      h2 Featured Contests
