extends layout

block content
  link(rel='stylesheet', href='/stylesheets/login.css', type='text/css')
  div.wrapper
    div.container
      form.form-signin(action='/login-submit', method='POST')
        h2.form-signin-heading Login
        input.input-block-level(type='text', name='email', placeholder='Email address')
        input.input-block-level(type='password', name='password', placeholder='Password')
        label.checkbox
          input(type='checkbox', value='rememberme')
          | Remember me
        button.btn.btn-large.btn-primary(type='submit') Sign in
