extends layout

block content
  link(rel='stylesheet', href='/stylesheets/new-contest.css')
  div.wrapper
    div.container
      form.form-horizontal(action='/new-contest-submit', method='POST')
        legend New Contest
        div.control-group
          label.control-label(for='title') Title
          div.controls
            input.input-xlarge(type='text', id='title', placeholder='Title'
              required)
        div.control-group
          label.control-label(for='from-date') From
          div.controls
            input.input-xlarge(type='date', id='from-date', required)
        div.control-group
          label.control-label(for='to-date') To
          div.controls
            input.input-xlarge(type='date', id='to-date', required)
        div.control-group
          label.control-label Repeat
          div.controls
            select.input-xlarge
              option(value='none') None
              option(value='every-day') Every day
              option(value='every-two-days') Every two days
              option(value='every-three-days') Every three days
              option(value='every-week') Every week
              option(value='every-two-weeks') Every two weeks
        div.control-group
          label.control-label(for='featured') Featured
          div.controls
            input(type='checkbox', id='featured', value='featured')
        div.control-group
          label.control-label(for='description') Description
          div.controls
            textarea.input-xlarge(rows='5', type='textarea', id='description'
              placeholder='Description')
        div.control-group
          div.controls
            button.btn.btn-primary(type='submit') Submit
            a.btn(href='#') Cancel
