extends layout

block content
  div.wrapper
    div.container
      ul.nav.nav-tabs
        li
          a(href='/') Subscription
        li.active
          a(href='/public-activity') Public Activity
        li
          a(href='/management') Management
