extends layout

block content
  div.wrapper
    div.container
      ul.nav.nav-tabs
        li.active
          a(href='/races?tab=subscribed') Subscribed
        li
          a(href='/races?tab=featured') Featured
        li
          a(href='#') Subscribed
      include racelist
      a(href='/racecreate') Create
